{% extends 'frame.html' %}
{% block content %}
    <h4>Current Repository: {{ repository.name }}</h4>
    <p><b>Name: </b>{{ repository.name }}</p>
    <p><b>Path: </b>{{ repository.path }}</p>
    <p><b>Branch: </b>{{ repository.branch }}</p>
    <p><b>Tag: </b>{{ repository.tag }}</p>
    <p><b>Head Commit ID: </b>{{ repository.head_commit_id }}</p>
    <p><b>LEDE Version: </b>{{ repository.lede_version }}</p>
    <hr/>
    <h4>Linux Kernel Versions</h4>
    <p>List all linux kernel versions used by various targets.</p>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Kernel Version</th>
                <th>Kernel File Hash</th>
            </tr>
            </thead>
            <tbody>
            {% for name, desc in repository.lede_kernel_version.items %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ desc }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr/>
    <h4>Update Code and packages</h4>
    <p>Keep code and packages up to date.</p>
    <a href="{% url 'repository_amend_customizations' repository.id %}" class="btn btn-primary">Amend Customizations</a>
    <a href="{% url 'repository_update_code' repository.id %}" class="btn btn-primary">Update Code</a>
    <a href="{% url 'repository_update_feeds' repository.id %}" class="btn btn-primary">Update Packages from all feeds</a>
    <a href="{% url 'repository_install_feeds' repository.id %}" class="btn btn-primary">Install Updated Packages</a>
    <hr/>
    <h4>Package Management</h4>
    <p>List, search packages, install new packages</p>
    <a href="{% url 'repository_packages' repository.id %}" class="btn btn-primary">Show all Packages</a>
    <hr/>
    <h4>Configuration</h4>
    <p>Use GUI Configuration to customize your build</p>
    <a class="btn btn-primary">Configure LEDE</a>
    <a class="btn btn-primary">Configure Linux Kernel</a>
    <hr/>
    <h4>Build</h4>
    <p>Make your image or clean previous artifacts.</p>
    <a href="{% url 'repository_clean' repository.id %}" class="btn btn-primary">Clean</a>
    <a href="{% url 'repository_dirclean' repository.id %}" class="btn btn-primary">DirClean</a>
    <a href="{% url 'repository_make_wizard' repository.id %}" class="btn btn-primary">Make</a>
    <hr/>
{% endblock %}