{% extends 'frame.html' %}
{% block content %}
    <h4>LedeForge Configuration Utility</h4>
    <p>
        <b>Note:</b> This configuration utility is not yet fully compatible with
        OpenWrt Original Menuconfig because some tokens like "reset" and functions
        like optional configuration file including (which makes changing Busybox
        settings possible) are not implemented.
    </p>
    <div class="pull-right">
        <a class="btn btn-sm btn-default"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Load Config</a>
        <a class="btn btn-sm btn-default"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;&nbsp;Save Config</a>
    </div>
    <p>Labels:
        <span class="label label-default">Fixed</span>
        <span class="label label-warning">Module</span>
        <span class="label label-success">Selection</span>
        <span class="label label-info">Value for String, Integer or Hex</span>
        |
        <span class="label label-danger">Menu</span>
        <span class="label label-primary">Choice</span>
    </p>
    <hr/>
    <ol class="breadcrumb">
        {% for s in kconfig.sequence_names %}
            <li><a href="{% url "container_kconfig" cid %}?sequence={{ s.sequence }}">{{ s.node_name }}</a></li>
        {% endfor %}
    </ol>
    <div class="list-group">
        {% for item in kconfig.node_dicts  %}
            {% if item.item %}
                </div><h4>{{ item.prompt }}</h4>
                <div class="list-group">
            {% elif item.prompt_cond %}
                <button data-toggle="tooltip"
                        data-placement="left"
                        title="{{ item.help }}"
                        style="font-family: monospace"
                        class="list-group-item"
                        {% if item.value %}
                            {% if item.value.value.assignable %}
                                onclick="show_selection_model({{ forloop.counter0 }})"
                            {% elif item.value.type == 1 or item.value.type == 2 or item.value.type == 3 %}
                                onclick="show_value_model({{ forloop.counter0 }})"
                            {% else %}
                                onclick="pick_choice({{ forloop.counter0 }})"
                            {% endif %}
                        {% else %}
                            {% if sequence %}
                                onclick="location.href = '{% url "container_kconfig" cid %}?sequence={{ sequence }},{{ item.sequence_id }}'"
                            {% else %}
                                 onclick="location.href = '{% url "container_kconfig" cid %}?sequence={{ item.sequence_id }}'"
                            {% endif %}
                        {% endif %}>
                {# Icon for C / M #}
                    {% if item.choice %}
                        <span class="label label-primary">C</span>
                    {% elif item.choices %}
                        <span class="label label-danger">M</span>
                    {% else %}
                        <span class="label">&nbsp;</span>
                    {% endif %}

                {# Icon for Value Type #}
                    {% if item.value.type == 0 %}{# boolean for symbol or choice #}
                        {% if item.value.value.selected %}
                            <span class="label label-success">√</span>
                            <b>{{ item.prompt }}</b>
                        {% elif item.value.value.value %}
                            {% if item.value.value.assignable|length == 1 %}
                                <span class="label label-default">√</span>
                            {% else %}
                                <span class="label label-success">√</span>
                            {% endif %}
                            <b>{{ item.prompt }}</b>
                        {% else %}
                            <span class="label label-success">&nbsp;</span>
                            {{ item.prompt }}
                        {% endif %}
                        <i>{{ item.prompt_help }}</i>
                    {% elif item.value.type == 1 %}{# hex #}
                        <span class="label label-info">=</span>
                        {{ item.prompt }}
                        <i>{{ item.prompt_help }}</i>
                    {% elif item.value.type == 2 %}{# int #}
                        <span class="label label-info">=</span>
                        {{ item.prompt }}
                        <i>{{ item.prompt_help }}</i>
                    {% elif item.value.type == 3 %}{# string #}
                        <span class="label label-info">=</span>
                        {{ item.prompt }}
                        <i>{{ item.prompt_help }}</i>
                    {% elif item.value.type == 4 %}{# tristate #}
                        {% if item.value.value.value == 1 %}
                            {% if item.value.value.assignable|length == 1 %}
                                <span class="label label-default">M</span>
                            {% else %}
                                <span class="label label-warning">M</span>
                            {% endif %}
                            <b>{{ item.prompt }}</b>
                        {% elif item.value.value.value == 2 %}
                            {% if item.value.value.assignable|length == 1 %}
                                <span class="label label-default">√</span>
                            {% else %}
                                <span class="label label-success">√</span>
                            {% endif %}
                            <b>{{ item.prompt }}</b>
                        {% else %}
                            <span class="label" style="color: black;">-</span>
                            {{ item.prompt }}
                        {% endif %}
                        <i>{{ item.prompt_help }}</i>
                    {% else %}
                        <span class="label">&nbsp;</span>
                        {{ item.prompt }}
                        <i>{{ item.prompt_help }}</i>
                    {% endif %}
                    {% if item.choices %}
                        <span class="badge"><a style="color: white" {% if item.choices %}
                        {% if sequence %}
                            href='{% url "container_kconfig" cid %}?sequence={{ sequence }},{{ item.sequence_id }}'
                        {% else %}
                            href='{% url "container_kconfig" cid %}?sequence={{ item.sequence_id }}'
                        {% endif %}
                    {% endif %}><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></span>
                {% endif %}
                </button>
            {% endif %}
        {% empty %}
            <button class="list-group-item">Nothing is available here</button>
        {% endfor %}
    </div>

    <script type="text/javascript">
        window.onload = function (ev) {
            $('[data-toggle="tooltip"]').tooltip()
        };
        const j = {{ kconfig.node_dicts | json }};
        const tristate_value = [
            'n',
            'm',
            'y'
        ];
        const tristate_option = [
            'Do not include this component (n)',
            'Include this component as a module (m)',
            'Include this component directly (y)'
        ];
        const value_type = ['Boolean', 'Hex', 'Int', 'String', 'Tristate'];
        function show_selection_model(node_id) {
            const current_node = j[node_id];
            $("#set_title_s")[0].innerText = "Change Value: " + current_node.prompt;
            $("#name_s")[0].innerText = current_node.prompt + " (" + current_node.name + ") [" + value_type[current_node.value.type] + "]";
            $("#help_s")[0].innerText = current_node.help;
            $("#assignable_s")[0].innerText = current_node.value.value.assignable;
            $("#symbol_value_s")[0].innerText = current_node.value.value.value;
            $("#selection_modal").modal()
        }
        function show_value_model(node_id) {
            const current_node = j[node_id];
            $("#set_title_v")[0].innerText = "Change Value: " + current_node.prompt;
            $("#symbol_v").val(current_node.name);
            $("#name_v")[0].innerText = current_node.prompt + " (" + current_node.name + ") [" + value_type[current_node.value.type] + "]";
            $("#help_v")[0].innerText = current_node.help;
            $("#value_v").val(current_node.value.value);
            $("#set_value_modal").modal()
        }
        function pick_choice(node_id) {
            const current_node = j[node_id];
            $.post('{% url 'container_worker_connector' cid "" %}kconfig/', {
                operation: 'set_value',
                key: current_node.name,
                value: 'y'
            }, function (data, status, xhr) {
                location.reload()
            });
        }
    </script>
{% endblock %}
{% block model %}
    <div class="modal fade" tabindex="-1" role="dialog" id="selection_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="set_title" class="modal-title">Change Value</h4>
                </div>
                <div class="modal-body">
                    <p><b>Symbol Name: </b><a id="name_s">One fine body</a></p>
                    <i id="help_s">One fine body</i><br/>
                    <div><b>Assignable:</b><div id="assignable_s"></div></div><br/>
                    <div><b>Value:</b><div id="symbol_value_s"></div></div><br/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="set_value_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="set_title_v" class="modal-title">Change Value</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="symbol_v" />
                    <p><b>Symbol Name: </b><a id="name_v">One fine body</a></p>
                    <p><i id="help_v">One fine body</i></p><br/>
                    <div class="form-group">
                        <label for="value_v">Value</label>
                        <input type="text" id="value_v" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="set_value()">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script type="text/javascript">
        function set_value() {
            $.post('{% url 'container_worker_connector' cid "" %}kconfig/', {
                operation: 'set_value',
                key: $("#symbol_v").val(),
                value: $("#value_v").val(),
            }, function (data, status, xhr) {
                location.reload()
            });
        }
    </script>
{% endblock %}
