{% extends 'frame.html' %}
{% block content %}
    <h4>LedeForge Configuration Utility</h4>
    <p>
        <b>Note:</b> This configuration utility is not yet fully compatible with
        OpenWrt Original Menuconfig because some tokens like "reset" and functions
        like optional configuration file including (which makes changing Busybox
        settings possible) are not implemented.
    </p>
    <div class="pull-right">
        <a class="btn btn-sm btn-default"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Load Config</a>
        <a class="btn btn-sm btn-default"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;&nbsp;Save Config</a>
    </div>
    <p>Labels:
        <span class="label label-default">Fixed</span>
        <span class="label label-warning">Module</span>
        <span class="label label-success">Selection</span>
        <span class="label label-info">Value for String, Integer or Hex</span>
        |
        <span class="label label-danger">Menu</span>
        <span class="label label-primary">Choice</span>
    </p>
    <hr/>
    <ol class="breadcrumb">
        {% for s in kconfig.sequence_names %}
            <li><a href="{% url "container_kconfig" cid %}?sequence={{ s.sequence }}">{{ s.node_name }}</a></li>
        {% endfor %}
    </ol>
    <ul class="list-group">
        {% for item in kconfig.node_dicts %}
            {% if item.item %}
                </ul><p>{{ item.prompt }}</p>
                <ul class="list-group">
            {% elif item.prompt_cond %}
                <a {% if item.choices %}
                    {% if sequence %}
                        href='{% url "container_kconfig" cid %}?sequence={{ sequence }},{{ item.sequence_id }}'
                    {% else %}
                        href='{% url "container_kconfig" cid %}?sequence={{ item.sequence_id }}'
                    {% endif %}
                {% endif %}
                        data-toggle="tooltip"
                        data-placement="left"
                        title="{{ item.help }}"
                        style="font-family: monospace"
                        class="list-group-item">
                {# Icon for C / M #}
                    {% if item.choice %}
                        <span class="label label-primary">C</span>
                    {% elif item.choices %}
                        <span class="label label-danger">M</span>
                    {% else %}
                        <span class="label">&nbsp;</span>
                    {% endif %}

                {# Icon for Value Type #}
                    {% if item.value.type == 0 %}{# boolean for symbol or choice #}
                        {% if item.value.value.selected %}
                            <span class="label label-success">√</span>
                            <b>{{ item.prompt }}</b>
                        {% elif item.value.value.value %}
                            {% if item.value.value.assignable|length == 1 %}
                                <span class="label label-default">√</span>
                            {% else %}
                                <span class="label label-success">√</span>
                            {% endif %}
                            <b>{{ item.prompt }}</b>
                        {% else %}
                            <span class="label label-success">&nbsp;</span>
                            {{ item.prompt }}
                        {% endif %}
                        <i>{{ item.prompt_help }}</i>
                    {% elif item.value.type == 1 %}{# hex #}
                        <span class="label label-info">=</span>
                        {{ item.prompt }}
                        <i>{{ item.prompt_help }}</i>
                    {% elif item.value.type == 2 %}{# int #}
                        <span class="label label-info">=</span>
                        {{ item.prompt }}
                        <i>{{ item.prompt_help }}</i>
                    {% elif item.value.type == 3 %}{# string #}
                        <span class="label label-info">=</span>
                        {{ item.prompt }}
                        <i>{{ item.prompt_help }}</i>
                    {% elif item.value.type == 4 %}{# tristate #}
                        {% if item.value.value.value == 1 %}
                            {% if item.value.value.assignable|length == 1 %}
                                <span class="label label-default">M</span>
                            {% else %}
                                <span class="label label-warning">M</span>
                            {% endif %}
                            <b>{{ item.prompt }}</b>
                        {% elif item.value.value.value == 2 %}
                            {% if item.value.value.assignable|length == 1 %}
                                <span class="label label-default">√</span>
                            {% else %}
                                <span class="label label-success">√</span>
                            {% endif %}
                            <b>{{ item.prompt }}</b>
                        {% else %}
                            <span class="label" style="color: black;">-</span>
                            {{ item.prompt }}
                        {% endif %}
                        <i>{{ item.prompt_help }}</i>
                    {% else %}
                        <span class="label">&nbsp;</span>
                        {{ item.prompt }}
                        <i>{{ item.prompt_help }}</i>
                    {% endif %}

                    {% if item.choices %}
                        <span class="badge"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></span>
                    {% endif %}
                </a>
            {% endif %}
        {% empty %}
            <button class="list-group-item">Nothing is available here</button>
        {% endfor %}
    </ul>

    <script type="text/javascript">
        window.onload = function (ev) {
            $('[data-toggle="tooltip"]').tooltip()
        };

        function show_set_model(node) {
            $("#myModal").modal()
        }
    </script>
{% endblock %}
{% block model %}
    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}