{% extends 'frame.html' %}
{% block content %}
    <h4>Repositories</h4>
    <p>Manage your existing LEDE Repositories, locally or inside containers.</p>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Path</th>
                <th>Branch</th>
                <th>Endpoint Name</th>
                <th>Container ID</th>
            </tr>
            </thead>
            <tbody>
            {% for container in containers %}
                <tr>
                <td><a href="{% url 'container_detail' container.id %}">{{ container.name }}</a></td>
                <td>{{ container.connection_string }}</td>
                <td>{{ container.data_dict.branch }}</td>
                <td>{{ container.endpoint_name }}</td>
                <td>{{ container.container_id }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}