{% extends 'frame.html' %}
{% block content %}
    <h4>Make</h4>
    <p><b>Current Target (Architecture): </b>{{ detail.current_arch }}</p>
    <p><b>Current Subtarget: </b>{{ detail.current_subtarget }}</p>
    <p><b>Current Device Profile: </b>{{ detail.current_target_profile }}</p>
    <p>Targets:</p>
    <ul>
        <li>defconfig: will produce a general purpose configuration of the build system including a check of dependencies and prerequisites for the build environment.</li>
        <li>download: will pre-fetch all source code for all dependencies, this enables you compile with more cpu cores.</li>
        <li>single package: package/wget/{clean,compile,install} V=s</li>
    </ul>
    <p>Frequently used arguments:</p>
    <ul>
        <li>V=s: Verbose Output</li>
        <li>-j4: 4 Parallel jobs</li>
    </ul>
    <form>
        <div class="form-group">
            <label for="args">Arguments</label>
            <input type="email" class="form-control" id="args" value="V=s -j4">
        </div>
    </form>
    <script type="text/javascript">
    function call_worker_connector_post(path, params) {
        $.post('{% url 'container_worker_connector' cid "" %}' + path, params, function (data, status, xhr) {
            document.location = '{% url "container_process_output" cid 2147483647 %}'.replace("2147483647", data.pid)
        });
    }
    function start_make() {
        const args = $('#args')[0].value;
        call_worker_connector_post("build/", {operation: "make", "args": args})
    }
    </script>
    <a class="btn btn-primary" onclick="start_make()">Make</a>
{% endblock %}