{% extends 'frame.html' %}
{% block content %}
    <h4>Console Output</h4>
    <pre id="output"></pre>
    <script type="text/javascript">
    const itval = setInterval(function() {
        $.get('{% url 'container_worker_connector' cid "process/" %}{{ pid }}', function (data, status, xhr) {
             for (let d of data) {
                if (d.type === 'exit') {
                    clearInterval(itval);
                    $("#back-button").show();
                    $("#output").append("Process Exited with code " + d.value.toString());
                }
                else {
                    $("#output").append(d.value.toString());
                }
            }
            document.getElementById('bottom').scrollIntoView();
        });
    }, 200);
    </script>
    <div id="back-button" hidden="hidden">
        <button type="button" class="btn btn-default" onclick="window.history.back()">Back</button>
    </div>
    <br id="bottom" />
{% endblock %}