{% extends 'frame.html' %}
{% block content %}
    <script type="text/javascript">
    $.get("http://yichya-raspi.lan:8765/kconfig/", function (data) {
        console.log(data);
    })
    </script>
{% endblock %}